@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels
<select class="form-control-sm" id="inputEmployee" asp-items="Model.EmpLists" asp-for="EmpID">
    <option value="">- 全 部 -</option>
</select>