@model IEnumerable<FkjMgt_20181207.Models.ClientListViewModel>

@{
    ViewData["Title"] = "客户列表";
}

<h4>客户销售状况列表;</h4>

<form class="form-horizontal" role="form">
    <fieldset>
        <legend>查询条件</legend>
        <div class="form-group">
            <label class="col-md-1">部门</label>
            <div class="col-md-3">
                <input class="form-control" id="inputDepar" type="text" />
            </div>
            <label class="col-md-1">业务员</label>
            <div class="col-md-3">
                <input class="form-control" id="inputEmployee" type="text" />
            </div>
            <label class="col-md-1">客户</label>
            <div class="col-md-3">
                <input class="form-control" id="inputClient" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">开始</label>
            <div class="col-md-3">
                <input class="form-control" id="inputBegin" type="text" />
            </div>
            <label class="col-md-1">至</label>
            <div class="col-md-3">
                <input class="form-control" id="inputEnd" type="text" />
            </div>
            <div class="col-md-2">
                <input class="btn-primary" value="查询" />
            </div>
        </div>
</fieldset>
</form>