@*@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels*@

@{
    ViewData["Title"] = "客户列表";
}
<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" role="form" asp-action="SellClientAuthoSeller" method="post">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-1">部门</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputDepar" type="text" />
                    </div>
                    <label class="col-md-1">业务员</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEmployee" type="text" />
                    </div>
                    <label class="col-md-1">客户</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputClient" type="text" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-1">开始</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputBegin" type="text" />
                    </div>
                    <label class="col-md-1">至</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEnd" type="text" />
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <div class="hidden" role="alert" id="AlertLoading">
            <strong>运行中!</strong> 正在生成数据,请稍候...
        </div>
    </div>
    @*开始显示返回结果*@
    <div class="row" id="PartialResultClientList">
        @await Html.PartialAsync("PartialSellClientListView")
    </div>
</div>

@*@section scripts{
    <script type="text/javascript" language="JavaScript">
        var showClinet;
        $('#editerrmsg').attr("class", "alert alert-warning alert-dismissible");
        $(document).ready(function () {
            showClinet = function () {
                $("PartialResultClientList").load('@Url.Action("SellClientAuthoSeller")');
            }
        });
        $('#AlertLoading').alert('close')
    </script>
    }*@