@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels

@{
    ViewData["Title"] = "客户列表";
}
<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-1">部门</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputDepar" type="text" />
                    </div>
                    <label class="col-md-1">业务员</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEmployee" type="text" />
                    </div>
                    <label class="col-md-1">客户</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputClient" type="text" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-1">开始</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputBegin" type="text" />
                    </div>
                    <label class="col-md-1">至</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEnd" type="text" />
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>EmployeeID_xf</th>
                    <th>SellSum</th>
                    <th>CostSum</th>
                    <th>ProfitSum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clientListTotals)
                {
                <tr>
                    <td>@Html.DisplayFor(s => item.EmployeeID_xf)</td>
                    <td>@Html.DisplayFor(s => item.SellSum)</td>
                    <td>@Html.DisplayFor(s => item.CostSum)</td>
                    <td>@Html.DisplayFor(s => item.ProfitSum)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
