@{
    ViewData["Title"] = "主页";
}

<div style="line-height:300px;text-align: center;">
    <img alt="广州富康健" src="~/images/logo.png" class="img-responsive center-block img-thumbnail" style="width:200px; margin-top:100px" />
</div>
