@{
    ViewData["Title"] = "测试页";
}
<h1>@ViewData["Title"]</h1>

<p>各种测试</p>
<li id="abc"><a href="#" onclick="$('#loadingModal').modal('show');">显示</a></li>
<li id="ddd"><a href="#" onclick="$('#loadingModal').modal('hide');">关闭</a></li>

<div class="modal fade" id="loadingModal">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5 style="color:black"> <strong>正在加载...查询可融资金额概需花费2-5分钟，请稍等！</strong> </h5>
    </div>
</div>


