/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;font-size:12px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.tooltip-inner {
    background: #fafafa !important; /*修改背景色*/
    text-align: left !important;
    color: #294581;
    border: 1px solid #dedede;
    max-width: 400px
    /*修改背景色 text-align: left !important;
    //字体左对齐 color:#363636 !important;
    //字体颜色 border:1px solid #dedede;
    //添加boder max-width: 400px !important;
    //修改宽度*/
}

.tooltip-arrow {
    border-bottom-color: #ffffff !important;
    opacity: 0;
    /*修改三角形的颜色 opacity: 0;
    三角形透明*/
}

.tooltip {
    opacity: 1 !important;
    /*让整个tooltip不透明*/
}

